body {
    width: 1500px;
    margin: 0 auto;
    background-color: #efe8e7;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #7A5B9A;
}

h1 {
   width: 1500px;
   text-align: center;
   font-family: 'Yellowtail', cursive;
   color: #7A5B9A;
}

h2 {
    font-family: 'Noto Serif JP', serif;
    color: #7A5B9A;
}

h3 {
    font-family: 'Yellowtail', cursive;
    color: #7A5B9A;
}

.topnav {
  overflow: hidden;
  background-color: gray;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.column {
    float: left;
    width: 23%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column2 {
    float:left;
    width: 47%;
    padding: 20px
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.column3 {
    float: left;
    width: 30%;
    padding: 15px;
}

.row3:after {
    content: "";
}

footer {
   width: 1500px;
    text-align: center;
   padding: 20px;
    background-color: lightgray
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #7A5B9A;
  color: white;
}

.fa-twitter {
  background: #7A5B9A;
  color: white;
}

.fa-instagram {
  background: #7A5B9A;
  color: white;
}

.fa-snapchat-ghost {
  background: #7A5B9A;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



